# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/share_backend/node_modules
/share_backend/.pnp
/share_backend/.pnp.js

# testing
/share_backend/coverage

# production
/share_backend/build

# misc
/share_backend/.DS_Store
/share_backend/.env.local
/share_backend/.env.development.local
/share_backend/.env.test.local
/share_backend/.env.production.local

/share_backend/npm-debug.log*
/share_backend/yarn-debug.log*
/share_backend/yarn-error.log*

# dependencies
/share_frontend/node_modules
/share_frontend/.pnp
/share_frontend/.pnp.js

# testing
/share_frontend/coverage

# production
/share_frontend/build

# misc
/share_frontend/.DS_Store
/share_frontend/.env.local
/share_frontend/.env.development.local
/share_frontend/.env.test.local
/share_frontend/.env.production.local

/share_frontend/npm-debug.log*
/share_frontend/yarn-debug.log*
/share_frontend/yarn-error.log*
